<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="InsertOrderListener" class="com.money.MoneyServerMQ.MQListener.InsertOrderListener">
        <property name="messageTopic" value="MoneyServer_Order_Insert"/>
    </bean>

    <bean id="ActivityBuyListener" class="com.money.MoneyServerMQ.MQListener.ActivityBuyListener">
        <property name="messageTopic" value="MoneyServer_Buy_Listener"/>
    </bean>

    <bean id="LotteryListener" class="com.money.MoneyServerMQ.MQListener.LotteryListener">
        <property name="messageTopic" value="MoneyServer_Lottery_Listener"/>
    </bean>

    <bean id="SomeFarmListener" class="com.money.MoneyServerMQ.MQListener.SomeFarmListener">
        <property name="messageTopic" value="MoneyServer_SomeFarm_Listener"/>
    </bean>


    <bean id="MoneySeverMQManager" class="com.money.MoneyServerMQ.MoneyServerMQManager">
        <constructor-arg>
            <list>
                <ref bean="InsertOrderListener"/>
                <ref bean="ActivityBuyListener"/>
                <ref bean="LotteryListener"/>
                <ref bean="SomeFarmListener"/>
            </list>
        </constructor-arg>
    </bean>
</beans>